.Book {
  max-width: 192px;
  width: 100%;
}

.Cover {
  display: flex;
  width: 192px;
  height: 270px;
  padding: 4px;
  border-radius: calc(var(--mantine-radius-md) + 4px);
  border: 2px solid var(--mantine-color-default-border);
}

@media screen and (max-width: 768px) {
  .Book {
    max-width: 144px;
  }

  .Cover {
    width: 144px;
    height: 202.5px;
  }
}