.Controls {
  top: calc(
    140px / 2 - var(--carousel-control-size) / 2
  ); /** half of a book cover - half of control size**/
}

.Control {
  background-color: #ffffff;
  opacity: 1;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.ShowMoreButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  max-width: 180px;
  width: 100%;
}

.SubjectListSkeleton {
  width: 100%;
  overflow: hidden;
}

.SubjectList {
  width: 100%;
  padding: 0 24px;
}

@media screen and (max-width: 768px) {
  .SubjectList {
    padding: 0 8px;
  }
}
