.AuthLayout {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Card {
  display: flex;
  align-items: start;
  max-width: 600px;
  width: 100%;
}
