.Controls {
  top: calc(
    270px / 2 - var(--carousel-control-size) / 2
  ); /** border + padding + half of a book cover - half of control size**/
}

.Control {
  background-color: #ffffff;
  opacity: 1;
  &[data-inactive] {
    opacity: 0;
    cursor: default;
  }
}

.ShowMoreButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 8px;
  max-width: 240px;
  width: 100%;
  padding: 64px;
  padding-bottom: calc(270px / 2);
}
