.Container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding: 24px;
}

@media screen and (max-width: 1024px) {
  .Container {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .Container {
    padding: 16px;
  }
}

.LoaderLayout {
  min-height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  alight-items: center;
}
