* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  height: 100%;
  background-color: var(--mantine-color-light-0);
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  max-width: 1280px;
  font-family: 'Inter', sans-serif;
}
